.cart{
    height: 510px;
    box-shadow: 0 0 0 5;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
  }
  .cart img{
    max-width: 230px;
    height: 160px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  h5{
    margin-bottom: 20px;
  }
  /* //   ✔ responsive👍   // */
  
  
  @media (max-width:450px){
    .cart{
      height:510px;
      
    }

  }
  
  @media(min-width:460px)and (max-width:750px){
    
    .cart{
    
          min-width:330px;
          height: 480px ;
          padding:10px;
          margin-left:10px;
    }
    .cart img{
      padding-top: 5px;
      width: 230px;
      height: 120px;
      border-radius: 10px;
      margin-bottom: 10px;
    }
    
    
  }