.items{
  display: grid;
grid-template-columns: repeat(3,1fr);
margin-top: 50px;
}

/* //   ✔ responsive👍   // */

@media(max-width:576px){
  .items{
    display: grid;
  grid-template-columns: repeat(1,1fr);
 
  }
  
  
}