.cart{
  box-shadow: 0 0 0 5;
  padding: 10px;
  text-align: center;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid wheat;
}
.cart img{
  width: 400px;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 10px;
}