/* .cart{
  height: 630px;
  box-shadow: 0 0 0 5;
  padding: 10px;
  text-align: center;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid black;
}
.cart img{
  max-width: 400px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}

h5{
  margin-bottom: 20px;
} */

/* //   ✔ responsive👍   // */

